@charset "utf-8";

#conteiner-1 {
    height: 100%;
    width: 100%;
    background-image: url(../Imagens/Template/Template-Mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#conteiner-2 {
    height: 100%;
    width: 100%;
    background-color: #161616;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#conteiner-3 {
    height: 80%;
    width: 100%;
    background-color: #202020;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}

#conteiner-4 {
    height: 100%;
    width: 100%;
    background-color: #111;
    color: white;
}